<div class="w-full py-6 px-3">
  <div class="border bg-white overflow-hidden h-full shadow-md">
    <a href="{{ _product.url }}">
      {% if _product.featured_image %}
        <div class="h-80 overflow-hidden">
          <img
            class="w-full h-full object-cover scale-90 hover:scale-100 transition-transform ease-in-out duration-1000"
            src="{{ _product.featured_image | image_url: width: 400  }}"
            alt="{{ _product.featured_image.alt }}"
            width="400"
            height="400">
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      {% if show_vendor %}
        <span class="text-sm text-gray-400">{{ _product.vendor }}</span>
      {% endif %}
      <a href="{{ _product.url }}" class="text-gray-700 uppercase font-medium">{{ _product.title | truncatewords: 8 }}</a>
      <p class="text-gray-500">{{ _product.price | money }}</p>
    </div>
  </div>
</div>